.core-grid {
    text-align: center;
    display: grid;
    height: 100%;
    grid-template: 
    "header header header" 1fr
    "leftSide faethContent rightSide" 11fr
    / 1fr 10fr 1fr;
}

.faeth-header {
    grid-area: header;
}

.faeth-leftSide {
    grid-area: leftSide;
}

.faeth-content {
    grid-area: faethContent;
}

.faeth-rightSide {
    grid-area: rightSide;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .core-grid {
        display: grid;
        height: 100%;
        grid-template: 
        "header" 1fr
        "faethContent" 10fr
        / 1fr;
    }

    .faeth-leftSide {
        display: none;
    }
}